table {
    border-collapse: collapse;
}

table, th, td, tr {
    border-width: medium;

}

.episode-no{     /* target class */
    text-align: center;
}

th {
    background-color: blue;
    color: white;
}